@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-bold tracking-tight text-emerald-400;
  }
  p {
    @apply text-lg text-gray-500;
  }
  main {
    @apply mx-auto max-w-4xl px-6 py-20;
  }
  section {
    @apply flex flex-col gap-10 text-center
  }
}